@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    background-image: linear-gradient(315deg, lightblue 0%, lightblue 74%);
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.367);
}

.container {
    width: 50%;
    background-color: rgb(46, 41, 41);
    min-height: 70vh;
    border-radius: 4px;
    padding-bottom: 3.5rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.51), -10px -10px 20px rgba(0, 0, 0, 0.275),   inset 5px 5px 15px rgba(63, 63, 63, 0.397);
}

header {
    font-size: 1.2rem;
    font-family: cursive;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

font input {
    width: 43%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

form button {
    color: white;
    background-color: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 6%;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

form button:hover {
    background-image: linear-gradient(315deg, #fe7bb0 0%, #ff748b 74%);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tood-list {
    min-width: 60%;
    list-style: none;
    font-family: "roboto", sans-serif !important;
}

.todo {
    margin: 1rem;
    background: white;
    color: black;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    height: 40px;
}

.todo li {
    flex: 1;
}

.trash-btn, .complate-btn {
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 10%;
}